beautifulsoup4==4.12.3
bs4==0.0.2
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
confuse==2.0.1
cryptography==43.0.3
dnspython==2.7.0
googlesearch-python==1.2.5
idna==3.10
load-dotenv==0.1.0
mysql-connector-python==9.1.0
pycparser==2.22
PyMySQL==1.1.1
python-amazon-sp-api==1.6.86
python-dotenv==1.0.1
PyYAML==6.0.2
requests==2.32.3
soupsieve==2.6
tqdm==4.67.1
urllib3==2.2.3
